.thead {
  font-size: large;
  text-align: center;
}

.thead ion-col {
  font-size: large;
  color: #c4c4c4;
}

.tbody ion-col span{
  font-size: medium;
  text-align: center;
}

ion-select-option {
  color: #010D13;
}

ion-select {
  color: #ab924d;
  font-size: medium;
  font-family: "Berlin Sans FB"
}
