<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/mobile-bundle-set-manager">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Bundle Set</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="action === 'detail'" fill="outline" color="color1" (click)="changeView()">
        Edit
      </ion-button>
      <ion-button *ngIf="action === 'edit'" fill="outline" color="color1" (click)="changeView()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="'true'">
  <ion-grid>
    <ion-row>
      <ion-item lines="none">
        <span *ngIf="action === 'detail'">{{bundleSet.title}}</span>
        <ion-input *ngIf="action === 'add' || action === 'edit'" [(ngModel)]="bundleSet.title" color="color1"
                   placeholder="Title" style="width: 100%"></ion-input>
      </ion-item>
      <ion-item-divider>
        Choose Style and category
      </ion-item-divider>
      <ion-item lines="none">
        <span *ngIf="action === 'detail'">{{style}}</span>
        <span *ngIf="action === 'add' || action === 'edit'">Style: </span>&#160;&#160;
        <ion-select [(ngModel)]="style" [ngModelOptions]="{standalone: true}"
                    mode="md" (ionChange)="loadByCategory()" *ngIf="action === 'add' || action === 'edit'"
                    interface="popover" placeholder="Choose style">
          <ion-select-option *ngFor="let style of styles; let i=index;" [value]="style">
            {{style}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none">
        <span *ngIf="action === 'detail'">{{origin}}</span>
        <span *ngIf="action === 'add' || action === 'edit'">Origin: </span>&#160;&#160;
        <ion-select [(ngModel)]="origin" [ngModelOptions]="{standalone: true}"
                    mode="md" (ionChange)="loadByCategory()" *ngIf="action === 'add' || action === 'edit'"
                    interface="popover" placeholder="Choose origins">
          <ion-select-option *ngFor="let org of origins; let i=index;" [value]="org">
            {{org}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none">
        <span *ngIf="action === 'detail'">{{product.name}}</span>
        <span *ngIf="action === 'add' || action === 'edit'">Bundle: </span>&#160;&#160;
        <ion-select [(ngModel)]="product" [ngModelOptions]="{standalone: true}"
                    mode="md" *ngIf="action === 'add' || action === 'edit'"
                    placeholder="Choose product">
          <ion-select-option *ngFor="let prod of products; let i=index;" [value]="prod">
            {{prod.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-grid fixed>
      <ion-row class="thead ion-align-items-center">
        <ion-col class="ion-align-items-center">
          Length
        </ion-col>
        <ion-col class="ion-text-center">
          Price
        </ion-col>
        <ion-col
          *ngIf="product.colors && product.colors.includes('gold')">
          Extra
        </ion-col>
        <ion-col *ngIf="action === 'add' || action === 'edit'">
          Action
        </ion-col>
      </ion-row>
      <ion-row *ngIf="product.rates.length === 0">
        <hr/>
        <hr/>
        <div align="center">
          <span>
            No bundle set added yet
          </span>
        </div>
        <hr/>
        <hr/>
      </ion-row>
      <ion-row *ngFor="let rate of product.rates; let i = index" class="tbody ion-align-items-center">
        <ion-col class="ion-align-items-center">
          <span>{{rate.length}}</span>
        </ion-col>
        <ion-col class="ion-text-center">
          <span>{{rate.price | currency}}</span>
        </ion-col>
        <ion-col *ngIf="product.colors && product.colors.includes('gold')">
          <span>{{rate.extra}}</span>
        </ion-col>
        <ion-button fill="outline" (click)="add(rate)" expand="block" *ngIf="action === 'add' || action === 'edit'"
                    style="--border-radius: 3px; --border-color: #ab924d">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-grid>
    <ion-item-divider>
      Bundle Set Configuration
    </ion-item-divider>
    <ion-row>
      <ion-col><h3>Bundle feature</h3></ion-col>
    </ion-row>
    <ion-row *ngFor="let bundle of bundleSet.features; let i = index">
      <ion-item lines="none">
        <ion-avatar>
          <img src="{{ip+'/file/image/' + product.pictures[0]}}">
        </ion-avatar>
        <ion-label>
          <h5 style="color: #c4c4c4">{{product.name}}</h5>
          <ion-row>
            <ion-col>
              <span>Price: {{bundle.rate.price | currency}}</span>
            </ion-col>
            <ion-col>
              <span>Length: {{bundle.rate.length}}</span>
            </ion-col>
            <ion-col>
              <span>Length: {{bundle.quantity}}</span>
            </ion-col>
          </ion-row>
        </ion-label>
        <ion-button fill="outline" color="color1" (click)="remove(i)" *ngIf="action === 'add' || action === 'edit'">
          remove
        </ion-button>
      </ion-item>
    </ion-row>
    <ion-row>
      <div align="center" style="width: 100%">
        <ion-label align="center">
          <h5 style="color: #c4c4c4">Supplement:</h5>
        </ion-label>
        <!--        <ion-list>-->
        <ion-item>
          <ion-input *ngIf="action === 'add' || action === 'edit'" [(ngModel)]="bundleSet.supplement.title"
                     placeholder="Title"></ion-input>
          <span *ngIf="action === 'detail'">{{bundleSet.supplement.title}}</span>
        </ion-item>
        <ion-item>
          <ion-textarea *ngIf="action === 'add' || action === 'edit'" [(ngModel)]="bundleSet.supplement.summary"
                        placeholder="Summary">
          </ion-textarea>
          <ion-text *ngIf="action === 'detail'">{{bundleSet.supplement.summary}}</ion-text>
        </ion-item>
        <ion-item *ngIf="action === 'add' || action === 'edit'">
          <ion-input [(ngModel)]="bundleSet.supplement.quantity" placeholder="Quantity"></ion-input>
          <ion-input [(ngModel)]="bundleSet.supplement.price" placeholder="Price"></ion-input>
        </ion-item>
        <ion-item *ngIf="action === 'detail'">
          <ion-col>
            Quantity: {{bundleSet.supplement.quantity}}
          </ion-col>
          <ion-col>
            Price: {{bundleSet.supplement.price}}
          </ion-col>
        </ion-item>
        <!--        </ion-list>-->
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-button color="color1" fill="outline" expand="block" (click)="createBundleSet()">
    Save
  </ion-button>
</ion-footer>
