#nameId {
  /* Personnal Info */

  position: absolute;
  left: 12.27%;
  right: 57.33%;
  top: 57.5%;
  bottom: 12.5%;

  /* S1 Halyard */
  font-family: Halyard Micro;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */

  /* Basic 600 */
  color: #010D13;

}
