<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon src="assets/icon/menu.svg"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons align="center">
      <span><h2>Hair Bundles</h2></span>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="products" fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Loading...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid id="grid">
    <ion-item-group>
      <ion-row>
        <ion-col size="12" style="background-color: #414141; color: #ab924d; padding: 10px">
          <br/>
          <ion-text>
            Have a hairstyle in mind and want more volume, length, and texture? Add our 100% Virgin hair bundles.
            Purchase
            three high-quality human hair bundles and the install is free.
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-item-group>
    <hr style="list-style: url('src/assets/images/separated.jpeg') inside">
    <ion-row>
      <ion-grid style="background-color: #414141">
        <h2>Textures</h2>
        <ion-row>
          <ion-col size="4" *ngFor="let item of typeImages" class="ion-padding">
            <ion-card class="ion-no-margin pin">
              <!--            <div class="card-img"-->
              <!--                 [style.background-image]="'url('+ item + ')'"></div>-->
              <img src="{{item.src}}" style="width:100%"/>
              <ion-card-header>
                <span>{{item.name}}</span>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
    <hr style="list-style: url('src/assets/images/separated.jpeg') inside">

    <h3>All categories</h3>
    <ion-item-divider>
      <div class="ion-text-end" slot="end">
        <!-- Grid Option -->
        <ion-button fill="clear" [color]="grid ? 'color1' : 'color2'" class="ion-no-padding" (click)="showGrid()">
          <ion-icon slot="icon-only" name="grid"></ion-icon>
        </ion-button>

        <!-- List View Option -->
        <ion-button fill="clear" [color]="list ? 'color1' : 'color2'" class="ion-no-padding" (click)="showList()">
          <ion-icon slot="icon-only" name="list"></ion-icon>
        </ion-button>
      </div>
    </ion-item-divider>
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="8">
            <div align="left">
              <span style="color: #ab924d;">FILTER BY:</span>
              <ion-chip outline color="color1" (click)="gotoFilterPage()">
                <ion-icon name="funnel"></ion-icon>
                <ion-label>Filters</ion-label>
                <ion-label>{{filterNumber.value ? ": " + filterNumber.value : ""}}</ion-label>
              </ion-chip>
            </div>
          </ion-col>
          <ion-col size="4">
            <div align="right">
              <span style="color: #ab924d;">{{products.length}} items</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-grid *ngIf="grid">
          <ion-row>
            <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let item of products">
              <ion-card class="ion-no-margin pin">
                <!-- Wish Button or Product Like/Dislike Button Option -->
                <ion-fab vertical="top" horizontal="end" (click)="checkLike(item)">
                  <ion-icon color="color1" name="heart-outline"
                            *ngIf="!isWishList(item)"></ion-icon>
                  <ion-icon color="color1" name="heart" *ngIf="isWishList(item)"></ion-icon>
                </ion-fab>
                <!-- Product Image -->
                <div class="card-img"
                     [style.background-image]="'url('+url+'/file/image/' + item.pictures[0] + ')'"></div>
                <ion-card-header color="medium" (click)="goToDetail(item)">
                  <span style="color: #1e2023">{{item.name}}</span>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="list">
          <ion-item *ngFor="let item of products">
            <ion-avatar slot="start">
              <img src="{{url+'/file/image/' + item.pictures[0]}}">
            </ion-avatar>

            <ion-label>
              <h5 style="color: #c4c4c4" (click)="goToDetail(item)">{{item.name}}</h5>
              <ion-item lines="none">
                <span slot="start">Price: {{item.rates[0].price | currency}}</span>
                <ion-button fill="clear" slot="end" (click)="checkLike(item)">
                  <ion-icon color="color1" name="heart-outline" *ngIf="!isWishList(item)"></ion-icon>
                  <ion-icon color="color1" name="heart" *ngIf="isWishList(item)"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-label>
          </ion-item>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
