<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/mobile-account">
      </ion-back-button>
    </ion-buttons>
    <ion-button fill="outline" color="color1" *ngIf="view === 'edit'" [disabled]="!userForm.valid"
                (click)="save()">
      Save
    </ion-button>
    <ion-buttons slot="end">
      <ion-button *ngIf="view === 'edit'" fill="outline" color="color1" (click)="changeView()">Cancel</ion-button>
      <ion-button *ngIf="view === 'detail'" fill="outline" color="color1" (click)="changeView()">
        <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Password Management</h1>
  <div class="ion-padding">
    <form [formGroup]="userForm">
      <ion-grid *ngIf="platform.is('ios') || platform.is('android')">
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="10">
            <ion-list>
              <ion-item aria-expanded="true" lines="none">
                <div class="itemInput ion-padding">
                  <ion-label color="medium">
                    <p style="font-size: large">Password</p>
                    <ion-input style="font-size: large" *ngIf="view === 'edit'" [type]="passwordType"
                               [(ngModel)]="user.password"
                               formControlName="password">
                    </ion-input>
                    <span style="font-size: large" *ngIf="view === 'detail'">
              ********
            </span>
                  </ion-label>
                </div>
              </ion-item>
              <ion-item aria-expanded="true" lines="none">
                <div class="itemInput ion-padding" style="width: 100%">
                  <ion-label color="medium">
                    <p style="font-size: large">Confirm Password</p>
                    <div style="font-size: large" class="form-group" *ngIf="view === 'edit'">
                      <ion-input [type]="passwordType" formControlName="passwordConfirm">
                      </ion-input>
                      <div class="text-danger"
                           *ngIf="passwordConfirm?.valid && (passwordConfirm.dirty || passwordConfirm.touched)">
                        <div *ngIf="userForm.errors.passwordMismatch">
                          Password and Confirm Password fields should match
                        </div>
                      </div>
                    </div>
                    <span style="font-size: large" *ngIf="view === 'detail'">
              ********
            </span>
                  </ion-label>
                </div>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3"></ion-col>
          <ion-col size="6">
            <ion-button fill="outline" color="color1" *ngIf="view === 'edit'" expand="block"  [disabled]="!userForm.valid"
            (click)="save()">
              Save
            </ion-button>
          </ion-col>
          <ion-col size="3"></ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="!platform.is('ios') && !platform.is('android')">
        <ion-row>
          <ion-col size="3"></ion-col>
          <ion-col size="6">
            <ion-list>
              <ion-item aria-expanded="true" lines="none">
                <div class="itemInput ion-padding">
                  <ion-label color="medium">
                    <p style="font-size: large">Password</p>
                    <ion-input style="font-size: large" *ngIf="view === 'edit'" [type]="passwordType"
                               [(ngModel)]="user.password"
                               formControlName="password">
                    </ion-input>
                    <span style="font-size: large" *ngIf="view === 'detail'">
              ********
            </span>
                  </ion-label>
                </div>
              </ion-item>
              <ion-item aria-expanded="true" lines="none">
                <div class="itemInput ion-padding" style="width: 100%">
                  <ion-label color="medium">
                    <p style="font-size: large">Confirm Password</p>
                    <div style="font-size: large" class="form-group" *ngIf="view === 'edit'">
                      <ion-input [type]="passwordType" formControlName="passwordConfirm">
                      </ion-input>
                      <div class="text-danger"
                           *ngIf="passwordConfirm?.valid && (passwordConfirm.dirty || passwordConfirm.touched)">
                        <div *ngIf="userForm.errors.passwordMismatch">
                          Password and Confirm Password fields should match
                        </div>
                      </div>
                    </div>
                    <span style="font-size: large" *ngIf="view === 'detail'">
              ********
            </span>
                  </ion-label>
                </div>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col size="3"></ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
