#grid {
  .img-wrap {
    height: 300px;
  }

  .ion-text-wrap,
  [text-wrap] {
    white-space: normal !important;
  }

  .cat-name {
    font-size: 1.2rem;
    color: rgba(8, 8, 8, 0.58);
  }
}

.card-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#grid .card-img {
  height: 150px;
}

.head-card-img {
  height: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
