<ion-content [fullscreen]="true">
  <ion-grid fixed style="height: 100%">
    <ion-row style="height: 100%">
      <ion-col size="3" style="height: 100%">
        <ion-list class="ion-padding" lines="none">
          <div class="sidetab" *ngFor="let page of pages">
            <button class="sidetablinks" (click)="changeView($event, page)">
              {{page.name}}
            </button>
          </div>
        </ion-list>
      </ion-col>
      <ion-col size="9">
        <app-personal-info name="{{category}}" *ngIf="view === 'Personal Info'"></app-personal-info>
        <app-mobile-update-password name="browser" *ngIf="view === 'Security'"></app-mobile-update-password>
        <app-wish-list name="browser" *ngIf="view === 'Wish List'"></app-wish-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
