<ion-split-pane contentId="content" *ngIf="platform.is('ios') || platform.is('android')">
  <ion-menu side="start" menuId="pages" type="overlay" contentId="content">
    <!-- Header -->
    <ion-header>
      <ion-row>
        <ion-col size="12">
          <a href="">
            <span style="text-align: center"><h4>HAVEN OF BUNDLES</h4></span>
          </a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-buttons>
            Sign In
          </ion-buttons>
        </ion-col>
        <ion-col size="8">
          <a href="">
            <span>or sign up</span>
          </a>
        </ion-col>
      </ion-row>
    </ion-header>

    <!-- Content Options -->
    <!-- Menus -->
    <ion-content>
      <ion-item-divider>
        <ion-label text-center>Categories</ion-label>
      </ion-item-divider>
      <div *ngFor="let p of appPages">
        <ion-menu-toggle auto-hide="false" *ngIf="p.url">
          <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" [routerLinkActive]="'active'">
            <p>
              {{p.title}}
            </p>
          </ion-item>
        </ion-menu-toggle>
      </div>
    </ion-content>

    <!-- Footer -->
    <ion-footer no-border>
      <div class="ion-padding">
        <ion-label>
          Haven Of Bundles © 2021
        </ion-label>
      </div>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>
<ion-toolbar *ngIf="!platform.is('ios') && !platform.is('android')">
  <div class="tab" style="width:80%; margin:0 auto; position: relative;">
    <button class="tablinks" fill="clear" (click)="changeView($event, 'home')"><ion-icon name="home"></ion-icon></button>
    <button class="tablinks" (click)="changeView($event, 'hairBundles')">Hair Bundles</button>
    <button class="tablinks" (click)="changeView($event, 'dashboard')">Dashboard</button>

  </div>
  <ion-button fill="clear" slot="end">
    <ion-icon slot="icon-only" name="cart"></ion-icon>
  </ion-button>
</ion-toolbar>
<ion-content [fullscreen]="true" *ngIf="!platform.is('ios') && !platform.is('android')">
  <app-home *ngIf="view === 'home'"></app-home>
  <app-hair-bundles *ngIf="view === 'hairBundles'"></app-hair-bundles>
  <app-dashboard *ngIf="view === 'dashboard'"></app-dashboard>
</ion-content>
