
.active-item {
  bordor-left: 8px solid var(--ion-color-color1);
}

.my-custom-menu {
  width: 50px;
}

.active {
  --ion-text-color: var(--ion-color-color1);

  ion-icon {
    --ion-text-color-rgb: var(--ion-color-color1);
  }
;
  bordor-left: 8px solid var(--ion-color-color1);
}

.active-parent {
  font-weight: 500;
}

.item {
  font-size: large;
  color: #dbdbdb;
  //background-color: #7d7d7d;
}

.sub-item {
  padding-left: 50px;
  //font-size: large;
  //color: #dbdbdb;
  //background-color: #7d7d7d;
}

.body {
  background-color: #0bb8cc;
}

//.tds-class {
//  background-image: url('../images/makeup1.jpg');
//}
.toolbar-background {
  //--background: url('../images/makeup1.jpg') no-repeat 100% 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #383a3e;
  color: #cccccc;
  font-style: oblique;
}

.tablinks:hover, .tablinks:active {
  color: #ab924d;
}

