.inherit-color {
  color: #ab924d;
  background-color: inherit;
  align-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.5;
  text-align: center;
}
