<ion-app align="center">
  <ion-header style="text-align: center">
    <div data-test="promo-banner" class="inherit-color">GET FREE STANDARD SHIPPING ON ALL ORDERS</div>
  </ion-header>
  <ion-header style="height: 50px;">
        <div data-test="promo-banner" class="align-center">HAVEN OF BUNDLES</div>
<!--    <div class="logo align-center">-->
<!--      <img src="assets/images/logo2.png" alt="logo">-->
<!--    </div>-->
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
