<ion-header *ngIf="platform.is('ios') || platform.is('android')" translucent="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button>
        <ion-icon src="assets/icon/menu.svg"></ion-icon>
      </ion-menu-button>
      <ion-title>Dashboard</ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="platform.is('ios') || platform.is('android')">
  <ion-list class="ion-padding" lines="none">
    <div *ngFor="let page of pages">
      <ion-item [routerDirection]="'root'" [routerLink]="[page.url]" [routerLinkActive]="'active'">
        <p>{{page.name}}</p>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
<ion-content *ngIf="!platform.is('ios') && !platform.is('android')" fullscreen>
  <ion-grid fixed style="height: 100%">
    <ion-row style="height: 100%">
      <ion-col size="3" style="height: 100%">
        <ion-list class="ion-padding" lines="none">
          <div class="sidetab" *ngFor="let page of pages">
            <button class="sidetablinks" (click)="changeView($event, page.url)">
              {{page.name}}
            </button>
          </div>
        </ion-list>
      </ion-col>
      <ion-col size="9" style="height: 100%">
        <app-mailing-list name="browser" *ngIf="view === 'mailing List'"></app-mailing-list>
        <app-profile name="browser" *ngIf="view === 'profile'"></app-profile>
        <app-available name="browser" *ngIf="view === 'available'"></app-available>
        <app-products-management name="browser" *ngIf="view === 'profile products'"></app-products-management>
        <app-bundle-set-manager name="browser" *ngIf="view === 'bundle Sets'"></app-bundle-set-manager>
        <app-sold name="browser" *ngIf="view === 'sold'"></app-sold>
        <app-summary name="browser" *ngIf="view === 'summary'"></app-summary>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
