h2{
  font-family: "Berlin Sans FB" !important;
}
div.ex3 {
  background-color: rgba(0, 0, 0, .0001) !important;
  width: 100%;
  height: 100%;
  overflow: auto;
}
//#myScrollDiv {
//  height: 90%;
//}

.card-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-img {
  height: 200px;
}
.theroot {
  height: 100px;
  background-color: yellow;
}
