<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/mobile-account">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Wish List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid id="grid">
  <div>
    <ion-item-divider>
      <div align="center">
        Bundles
      </div>
    </ion-item-divider>
    <ion-row *ngIf="bundleProducts.length > 0">
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let item of bundleProducts">
        <ion-card class="ion-no-margin">
          <!-- Product Image -->
          <div class="card-img"
               [style.background-image]="'url('+ip+'/file/image/'+item.pictures[0]+')'"></div>
          <ion-card-header color="medium" (click)="goToDetail(item)">
            <span style="color: #1e2023">{{item.name}}</span>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <p *ngIf="bundleProducts.length === 0">No closure liked</p>

    <ion-item-divider>
      <div align="center">
        Closures
      </div>
    </ion-item-divider>
    <ion-row *ngIf="closureProducts.length > 0">
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let item of closureProducts">
        <ion-card class="ion-no-margin">
          <!-- Product Image -->
          <div class="card-img"
               [style.background-image]="'url('+ip+'/file/image/'+item.pictures[0]+')'"></div>
          <ion-card-header color="medium" (click)="goToDetail(item)">
            <span style="color: #1e2023">{{item.name}}</span>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <p *ngIf="closureProducts.length === 0">No closure liked</p>
    <ion-item-divider>
      <div align="center">
        Frontals
      </div>
    </ion-item-divider>
    <ion-row *ngIf="frontalProducts.length > 0">
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let item of frontalProducts">
        <ion-card class="ion-no-margin">
          <!-- Product Image -->
          <div class="card-img"
               [style.background-image]="'url('+ip+'/file/image/'+item.pictures[0]+')'"></div>
          <ion-card-header color="medium" (click)="goToDetail(item)">
            <span style="color: #1e2023">{{item.name}}</span>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <p *ngIf="frontalProducts.length == 0">No frontal liked</p>
    <ion-item-divider>
      <div align="center">
        Bundle Sets
      </div>
    </ion-item-divider>
    <ion-row *ngIf="bundleSets.length > 0">
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let item of bundleSets">
        <ion-card class="ion-no-margin">
          <!-- Product Image -->
          <div class="card-img"
               [style.background-image]="'url('+ip+'/file/image/'+item.pictures[0]+')'"></div>
          <ion-card-header color="medium" (click)="goToBundleSetDetail(item)">
            <span style="color: #1e2023">{{item.title}}</span>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <p *ngIf="bundleSets.length == 0">No Bundle Set liked</p>
  </div>
</ion-grid>
</ion-content>
