/* Rectangle 36 */
.add_button {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 16px;
  top: 194px;

  /* Basic 500 */
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 5px;
}


