<ion-header *ngIf="platform.is('ios') && platform.is('android')">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon src="assets/icon/menu.svg"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons>
      <span>HAVENOFBUNDLES</span>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <h1>Welcome to the haven of bundles</h1>
  </ion-grid>
</ion-content>
