<ion-content [fullscreen]="true" id="products">
  <div class="ex3" id="myScrollDiv">
    <ion-grid id="grid">
      <ion-item-group>
        <ion-row style="background-color: #414141; color: #ab924d; padding: 30px">
          <ion-col size="2"></ion-col>
          <ion-col size="8">
            <span><h2>Hair Bundles</h2></span>
            <br/>
            <ion-text>
              Have a hairstyle in mind and want more volume, length, and texture? Add our 100% Virgin hair bundles.
              Purchase
              three high-quality human hair bundles and the install is free.
            </ion-text>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
      </ion-item-group>
      <hr style="list-style: url('src/assets/images/separated.jpeg') inside">
      <ion-item-group>
        <ion-row style="color: #ab924d;">
          <ion-col size="2"></ion-col>
          <ion-col size="8">
            <ion-grid>
              <h2>Textures</h2>
              <ion-row class="texture">
                <ion-col sizeLg="3" sizeMd="3" sizeXs="12" *ngFor="let item of typeImages" class="ion-padding">
                  <ion-card class="ion-no-margin styleTabs" (click)="changeView($event, item)">
                    <img src="{{item.src}}" style="width: 80px; height: 100px;"/>
                    <ion-card-header>
                      <span>{{item.name}}</span>
                    </ion-card-header>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
      </ion-item-group>
      <hr style="list-style: url('src/assets/images/separated.jpeg') inside">
      <ion-item-group>
        <ion-row>
          <ion-col size="3">
            <ion-toolbar>
              <ion-buttons slot="start">
                <span>FILTER BY:</span>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button fill="clear" (click)="clear()">
                  <u><span>RESET</span></u>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
            <ion-row>
              <ion-item-divider>
                <h2>COLORS</h2>
              </ion-item-divider>
              <ion-list>
                <ion-item *ngFor="let item of colors; let i = index">
                  <span>{{item.color}}</span>
                  <ion-checkbox color="color1"  [(ngModel)]="item.isChecked" slot="start" (ionChange)="checkColors($event, item)">
                  </ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-row>
            <ion-row>
              <ion-item-divider>
                <h2>HAIR INFOS</h2>
              </ion-item-divider>
              <ion-list>
                <ion-item *ngFor="let item of hairInfos; let i = index">
                  <span>{{item.hairInfo}}</span>
                  <ion-checkbox color="color1"  [(ngModel)]="item.isChecked" slot="start" (ionChange)="checkHairInfos($event, item)">
                  </ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-row>
            <ion-row>
              <ion-item-divider>
                <h2>CATEGORY</h2>
              </ion-item-divider>
              <ion-list>
                <ion-item *ngFor="let item of hairCategories; let i = index">
                  <span>{{item.hairCategory}}</span>
                  <ion-checkbox color="color1"  [(ngModel)]="item.isChecked" slot="start" (ionChange)="checkHairCategories($event, item)">
                  </ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-row>
          </ion-col>
          <ion-col size="9">
            <ion-toolbar><h2>ALL BUNDLES</h2></ion-toolbar>
            <ion-row>
              <ion-col sizeLg="3" sizeMd="3" sizeXs="3"
                       *ngFor="let item of products; let i = index"
                       class="grid">
                <ion-card class="ion-no-margin" (click)="goToDetail(item._id)">
                  <!-- Product Image -->
                  <div class="card-img"
                       [style.background-image]="'url('+ip+'/file/image/'+item.pictures[0]+')'"></div>
                  <ion-card-header color="medium">
                    <span style="color: #1e2023; font-size-adjust: inherit;">{{item.name}}</span>
                    <br/>
                    <span
                      style="color: #1e2023; font-size-adjust: inherit;">Price: {{item.rates[0].price | currency}}</span>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item-group>
    </ion-grid>
  </div>
</ion-content>
